<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>人员信息</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" style="padding-top: 20px; ">
    <a class="pull-right" href="/logout">退出</a>
    <span class="pull-right" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username }" style="margin-right: 20px;"></span>
    <p>This is detail.html.</p>
    <p>Return <a href="/index">index.html</a></p>
    <div>
        <input class="btn btn-default" type="button" value="显示全部人员" id="showAllUser">
        <input class="btn btn-default" type="button" value="分页显示人员" id="showPageUser">
    </div>
    <div id="allUser" class="table-responsive" style="display: none;">
        <table class="table table-striped table-hover table-bordered">
            <caption>全部人员</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>角色</th>
                </tr>
            </thead>
            <tbody id="allUserBody">

            </tbody>
        </table>
    </div>
    <div id="pageUser" class="table-responsive" style="display: none;">
        <table class="table table-striped table-hover table-bordered">
            <caption>部分人员</caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>角色</th>
            </tr>
            </thead>
            <tbody id="pageUserBody">

            </tbody>
        </table>
        <div style="text-align: center" id="footOperation">
            <span style="margin-right: 30px;"></span>
            <input class="btn btn-default" type="button" value="上一页" id="prevPage">
            <input class="btn btn-default" type="button" value="下一页" id="nextPage">
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script>

    var currentPage = 0;

    $(function () {
        $('#showAllUser').click(function () {
            showAllUser();
        });
        $('#showPageUser').click(function () {
            currentPage = 0;
            showPageUser(0);
        });
        $('#prevPage').click(function () {
            currentPage = currentPage - 1;
            showPageUser(currentPage);
        });
        $('#nextPage').click(function () {
            currentPage = parseInt(currentPage) + 1;
            showPageUser(currentPage);
        });
    });

    function showAllUser() {
        $('#pageUser').hide();
        $.ajax({
            type : 'GET',
            url : '/user/getAllUsers',
            dataType : 'json',
            success : function (data) {
                var str = '';
                if(data.length == 0){
                    str = '<tr><td colspan=5>无人员信息</td></tr>';
                } else {
                    $.each(data, function (index, item) {
                        str += '<tr><td>' + item.id + '</td><td>' + item.username + '</td><td>' + item.age + '</td><td>'
                            + (item.gender == '1' ? '男' : '女') + '</td><td>' + (item.role == '2' ? '管理员' : '普通用户') + '</td></tr>'
                    });
                }
                $('#allUserBody').html(str);
                $('#allUser').show();
            }
        });
    }

    function showPageUser(page) {
        $('#allUser').hide();
        $.ajax({
            type : 'GET',
            url : '/user/getUserByPage',
            data : {
                page : page,
                size : 5
            },
            dataType : 'json',
            success : function (data) {
                var str = '';
                if(data.content.length == 0){
                    str = '<tr><td colspan=5>无人员信息</td></tr>';
                } else {
                    $.each(data.content, function (index, item) {
                        str += '<tr><td>' + item.id + '</td><td>' + item.username + '</td><td>' + item.age + '</td><td>'
                            + (item.gender == '1' ? '男' : '女') + '</td><td>' + (item.role == '2' ? '管理员' : '普通用户') + '</td></tr>'
                    });
                }
                var footerStr = '共' + data.totalPages + '页，当前第' + (parseInt(data.number) + 1) + '页';
                $('#pageUserBody').html(str);
                $('#footOperation>span').html(footerStr);
                if(data.number == 0){
                    $('#prevPage').attr('disabled', true);
                }else{
                    $('#prevPage').attr('disabled', false);
                }
                if(data.number == (data.totalPages - 1)){
                    $('#nextPage').attr('disabled', true);
                }else{
                    $('#nextPage').attr('disabled', false);
                }
                $('#pageUser').show();
            }
        });
    }
</script>
</body>
</html>